<h1>Member Profile</h1>

<h3>Pull up a chair, <%= @diner.name %>!</h3>
<div class="index-container">
    <div class="index-tile">
        <img src=<%= @diner.profile_pic %> alt= "Description of Profile Pic", class="profile-pic">
    </div>


    <div class="bio">
        <h2>About Me</h2>
        <p><b>Location: </b><%= @diner.location %></p>
        <p><b>Dietary Restrictions: </b><%= @diner.dietary_restriction %></p>
    </div>
</div>

<div class="index-container">
    <div class="bio-two">
    <h2> Upcoming Reservations </h2>
<ul>
    <% @diner.upcoming_reservations.each do |reso| %>
        On <%= reso.date %> at <%= reso.time %>:00 you'll be eating with <%= link_to reso.homecook.name, homecook_path(reso.homecook) %>, at their home, located at <%= reso.homecook.address %>. <%= link_to "View reservation", reservation_path(reso) %>
        <%= button_to "Edit Reservation", edit_reservation_path(reso), method: :get, class: "form-btn" %><br>
    <% end %>
    </div>
  
</ul>
    <div class ="bio-two">
<h2> Past Reservations</h2>
<ul>
    <% @diner.past_reservations.each do |reso| %>
        On <%= reso.date %> at <%= reso.time %> You'll be eating with <%= link_to reso.homecook.name, homecook_path(reso.homecook) %>, at their home, located at <%= reso.homecook.address %>.
        <%= link_to "write a review", new_reservation_path(reso) %><p></p>
    <% end %>
</ul>
</div>
</div>





