<h1>Member Profile</h1>

<h3>Pull up a chair, <%= @diner.name %>!</h3>

<img src=<%= @diner.profile_pic %> alt= "Description of Profile Pic" width="500"><br>


<h3>About Me</h3>
<%= @diner.location %><br>
<%= @diner.dietary_restriction %><br>

<h3> Upcoming Reservations </h3>
<ul>
<% @diner.upcoming_reservations.each do |reso| %>
    <li>On <%= reso.date %> at <%= reso.time %> You'll be eating with <%= link_to reso.homecook.name, homecook_path(reso.homecook) %>, at their home, located at <%= reso.homecook.address %></li>
    <%= button_to "Edit Reservation", edit_reservation_path(reso), method: :get %>
<% end %>
</ul>
<h3> Past Reservations</h3>
<ul>
<% @diner.past_reservations.each do |reso| %>
    <li>On <%= reso.date %> at <%= reso.time %> You'll be eating with <%= link_to reso.homecook.name, homecook_path(reso.homecook) %>, at their home, located at <%= reso.homecook.address %></li>
    <li><%= link_to "write a review", new_reservation_path(reso) %> 
<% end %>
</ul>

<p><%= button_to "Delete profile", diner_path(@diner), method: :delete %></p>

<%# ---------- This pulls all of the items we want and lets us see the reservation info we want to see, but we probably don't want this much logic in the html views I think? ------------  %>




<%# </ul>
<h3>Upcoming Reservations</h3>
<p><%= link_to "Make a new Reservation", new_reservation_path %> </p>
<%# <%= link_to @diner.upcoming_name, edit_reservation_path(@diner) %> 

<%# <h3>Past Reservations</h3> %>
<%# <%= @diner.past_name %> 


