<h1>Welcome to Family Meal!</h1>

<h2>Meet our Homecooks</h2>
<ul>
<div class="index-container">
    <% @homecooks.each do |cook|  %>
    <div class="index-tile">
    <h3><%= link_to cook.name, homecook_path(cook) %></h3>
<%= link_to homecook_path(cook) do %>
<img src=<%= cook.profile_pic  %> alt="Profile picture of Homecook", width="400" class="index-img">
<% end %>
<li> Neighborhood: <%= cook.neighborhood %></li>
<li> Cuisine: <%= cook.cuisine %>
</div>
<% end %>
</div>
