<h1><%= @homecook.name %></h1>

<img src=<%= @homecook.profile_pic %>>

<h2>About Me</h2>
<%= @homecook.bio %><br>
<%= @homecook.neighborhood %><br>
<%= @homecook.cuisine %><br>
<%= @homecook.open %><br>
<%= @homecook.avg_price %><br>
<p><%= link_to "Make Reservation", new_reservation_path %> </p>
<br>

<h2>Menu</h2>
<% @homecook.menus.uniq.each do |menu| %>
<%= menu.dish.name %> $<%= menu.price %><br>
<img src=<%= menu.dish.dish_pic %> alt="Description of Picture" width="150" height="150"><br>
<p><%= menu.dish.description %></p>
<% end%>


