<!DOCTYPE html>
<html>
  <head>
    <title>FamilyMeal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="banner">
      <img src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t1.0-9/124580187_10116950294914963_1269053174252936339_o.jpg?_nc_cat=111&ccb=2&_nc_sid=730e14&_nc_ohc=uoLPlVevv8IAX-TB8Hv&_nc_ht=scontent.ftpa1-2.fna&oh=d061e130b2ab042a024858f29b6f8563&oe=5FD3CCE0" alt="Family Meal Logo" class="center">  
  </div>
<div>
  
  <div>
 

  <ul class ="nav">
  <li><%= link_to "Find your Next Meal", homecooks_path %></li>
  <%# <li><%= link_to "My Profile", diner_path(@current_user)%> %>
  <% if @current_user %>
      <li class ="right">Welcome <%= @current_user.name %></li>
      <li class ="right"><%= link_to "Log out", logout_path, method: :delete %></li>
  <% else %>
      <li class ="right"><%= link_to "Log in", new_login_path %></li>
      <li class ="right"><%= link_to "Sign up", new_diner_path %></li>
  <% end%>
  </ul>
</div >

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
